# NetBeans specific
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
bin/

# Eclipse project file
.settings/
.classpath
.project

# Class files
*.class

# Package files
*.jar
*.war
*.ear

# OS
.DS_Store

# DB
db.bin

# Maven
log/
target/

# VScode
.vscode/
.vs/