* {
    font-family: 'Inter', sans-serif;
    -fx-font-family: 'Inter', sans-serif;
}

#app-title {
    font-size: 28px;
    -fx-font-size: 28px;
    font-weight: 700;
    -fx-font-weight: 700;
}

#filter-label, #order-label {
    font-size: 14px;
    -fx-font-size: 14px;
}
